{% extends "home/layout.html" %}

{% block title %}Home{{super()}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="card mb-3 index-category">
            <h3 class="card-header"> Genres </h3>
            <div class="list-group list-group-flush">
            {% for genre in genres %}
                <a href="/" class="list-group-item list-group-item-action">{{ genre.genre_name }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
    {#<div class="row"> 
        <div class="card mb-3 index-category">
            <h3 class="card-header"> Movies </h3>
            <div class="list-group list-group-flush">
            {% for movie in movies %}
                <a href="/title/{{ movie.title_id }}" class="list-group-item list-group-item-action">{{ movie.title }}</a>
            {% endfor %}
            </div>
            <div class="card-body">
                <a href="/title/create" class="card-link"> + Add Movie </a>
            </div>
        </div>

        <div class="card mb-3 index-category">
            <h3 class="card-header"> Actors/Actresses </h3>
            <div class="list-group list-group-flush">
            {% for actor in actors %}
                <a href="/name/{{ actor.name_id }}" class="list-group-item list-group-item-action">{{ actor.name }}</a>
            {% endfor %}
            </div>
            <div class="card-body">
                <a href="/name/create" class="card-link"> + Add Actor/Actress </a>
            </div>
        </div>
    </div> #}
{% endblock %}