{% extends "home/layout.html" %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="../../static/index.css">
{% endblock %}

{% block title %}Home{{super()}}{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 59.365 59.365" style="enable-background:new 0 0 59.365 59.365;" xml:space="preserve" width="30px" height="30px">
            <path d="M58.363,26.632l-9.681-8.989V6.365h-8v3.849L29.682,0L1.002,26.632c-0.404,0.376-0.428,1.009-0.052,1.414  c0.375,0.404,1.008,0.427,1.414,0.052l4.319-4.011v3.278v32h16V35.302c0-1.07,0.867-1.937,1.937-1.937h10.126  c1.07,0,1.937,0.867,1.937,1.937v24.063h16v-32v-3.278l4.319,4.011c0.192,0.179,0.437,0.267,0.681,0.267  c0.269,0,0.536-0.107,0.732-0.319C58.791,27.641,58.767,27.008,58.363,26.632z" fill="#FFFFFF"/>
        </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/title/create">Add Movie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/name/create">Add Actor/Actress</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
    {% block maintext %}
    <h1>Know an actor?</h1>
    <h1>Know their genres.</h1>
    {% endblock %}

<form class="ui-widget form-inline my-2 my-lg-0" id="search-form">
    <input class="form-control mr-sm-2" type="text" placeholder="Search by actor name." id="autocomplete">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit" name="search-button" value="Search">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="16px" height="16px">
            <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" fill="#4582EC"/>
        </svg>
    </button>
</form>
{% endblock %}