{% extends "home/layout.html" %}

{% block title %}Home{{super()}}{% endblock %}

{% block content %}
    <h1> TV Shows </h1>
    <ol>
    {% for tv_show in tv_shows %}
        <li><a href="/title/{{ tv_show.title_id }}">{{ tv_show.title }}</a>
    {% endfor %}
    </ol>
    <a href="/title/create"> + Add TV Show </a>

    <h1> Actors/Actresses </h1>
    <ol>
    {% for actor in actors %}
        <li><a href="/name/{{ actor.name_id }}">{{ actor.name }}</a></li>
    {% endfor %}
    </ol>
    <a href="/name/create"> + Add Actor/Actress </a>
{% endblock %}