{% extends "profile-form.html" %}

{% block profile_action %}Edit{% endblock %}
{% block profile_name %}{{ profile.name }}{% endblock %}

{% block delete_profile %}
    <a href="/name/{{ profile.name_id }}/delete" class="btn btn-outline-danger profile-delete">Delete Profile </a>
{% endblock %}
    
{% block form_content %}
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" value="{{ profile.name }}" id="name" required>

    <br>

    <label for="filmography">Filmography</label>
    <small id="inputHelp" class="form-text text-muted">Please separate multiple values with commas.</small>
    <textarea name="filmography" class="form-control" id="filmography" rows="5" columns="50" required>{{ filmography }}</textarea>
{% endblock %}

{% block submit %}
    <input type="submit" value="Save" class="btn btn-primary">
{% endblock %}