{% extends "profile.html" %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="../../static/donut-chart.js" defer></script>
{% endblock %}

{% block identifier %}{{ profile.name }}{% endblock %}

{% block details %}<h2>Most Popular Genres: {{genre}}</h2>{% endblock %}

{% block collection_type %}Filmography{% endblock %}
{% block collection %}
    {% for movie in profile.filmography %}
        <li><a href="/title/{{ movie.title_id }}">{{ movie.title }}</a>
    {% endfor %}
{% endblock %}

{% block edit_profile %}
    <a href="/name/{{ profile.name_id }}/edit"> Edit Info </a>
{% endblock %}

{% block chart %}
    <canvas id="donutChart" data-value="{{ chart_data }}"></canvas>
{% endblock %}