{% extends "profile.html" %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="../../static/donut-chart.js" defer></script>
{% endblock %}

{% block identifier %}{{ profile.name }}{% endblock %}

{% block details %}<h3>Most Popular Genres: {{genre}}</h3>{% endblock %}

{% block collection_type %}Filmography{% endblock %}
{% block collection %}
    <table class="table table-hover" id="filmography">
        <thead>
            <tr>
                <th scope="col">Year</th>
                <th scope="col">Movie</th>
                <th scope="col">Genres</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in profile.filmography %}
            <tr class="{% for genre in movie.genres %}{% if loop.nextitem is defined %}{{genre.genre_name}} {% else %}{{genre.genre_name}}{% endif %}{% endfor %}">
                <td>{{ movie.year }}</td>
                <td>
                    <a href="/title/{{ movie.title_id }}">{{ movie.title }}</a>
                </td>
                <td>
                {% for genre in movie.genres %}
                    {% if loop.nextitem is defined %}
                        {{genre.genre_name}}, 
                    {% else %}
                        {{genre.genre_name}}
                    {% endif %}
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
{% endblock %}

{% block edit_profile %}
    <a href="/name/{{ profile.name_id }}/edit"> Edit Info </a>
{% endblock %}

{% block chart %}
    <canvas id="donutChart" data-value="{{ chart_data }}"></canvas>
{% endblock %}