{% extends "home/layout.html" %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block title %}Create Profile{{super()}}{% endblock %}

{% block content %}
    <h1> {% block profile_action %}{% endblock %} {% block profile_name %}{% endblock %} {% block profile_type %}{% endblock %} Profile </h1>

    {% block delete_profile %}{% endblock %}
    
    <form method="post">
        <fieldset>
            <div class="form-group">
                {% block form_content %}{% endblock %}
            </div>

            {% block submit %}{% endblock %}
        </fieldset>
    </form>
{% endblock %}