{% extends "home/layout.html" %}

{% block title %}{% block identifier %}{% endblock %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1> {{ self.identifier() }} </h1>
            {% block edit_profile %}{% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% block details %}{% endblock %}
            {% block chart %}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>{% block collection_type %}{% endblock %}:</h2>
            {% block collection %}{% endblock %}
        </div>
    </div>
{% endblock %}