<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>IMDb</title>
    </head>

    <body>
        <div>
            <h2><a href="/"> Home </a></h2>
            <h1> Create TV Show Profile </h1>
            
            <form method="post">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" required>
                <br>
                <label for="cast">Cast</label>
                <textarea name="cast" id="cast" rows="5" columns="50" required></textarea>

                <input type="submit" value="Create">
            </form>


        </div>
    </body>
</html>