{% extends "user/user-form.html" %}

{% block user_form_title %}Register{% endblock %}

{% block user_form_details %}
    Already have an account?
    <a href="/login">Login</a>.
{% endblock %}

{% block additional_fields %}
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" required>
    </div>
{% endblock %}

{% block submit %}
    <input type="submit" name="form-button" value="Register" class="btn btn-primary">
{% endblock %}