{% extends "profile-form.html" %}

{% block profile_action %}Create{% endblock %}
{% block profile_type %}Actor/Actress{% endblock %}
    
{% block form_content %}
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" required>
    
    <br>
    
    <label for="filmography">Filmography</label>
    <small id="inputHelp" class="form-text text-muted">Please separate multiple values with commas.</small>
    <textarea class="form-control" name="filmography" id="filmography" rows="5" columns="50" required></textarea>
{% endblock %}

{% block submit %}
    <input type="submit" value="Create" class="btn btn-primary">
{% endblock %}